name: NodeJS
on:
  push:
    #branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.3.0
      with: 
        node-version: ${{ matrix.node-version }}
    - run: npm i
    - run: node ./src/main/main.js -git -token "${{ secrets.DISCORD_TOKEN }}"
